<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
    <h4 align="center">Random word attempt # {{request.session.count}}</h4>

<div class="container">
        <div class="jumbotron">
          <h1 align="center">{{request.session.unique}}</h1>
          <p align="center">Here's your random word</p> 
        </div>
      </div>

      <p align="center">
            <button type="button" onClick="window.location.reload()" class="btn-info" style="font-size:20px; height: 60px; width: 125px" style="font-size : 40px; width: 120%; height: 120px;">Refresh Page</button>
        </p>
      



        <!-- 
        <form action="/" method="post">
            
                    Name: <input type="text" name="name" placeholder="name">
                    <input type="submit" value="submit"> -->


</body>
</html>