*{
    padding:0px;
    margin:0px;
}

body {
    background-image: url("start_the_adventure.png");
 }
 
 img {
    display: inline-block;
    margin-left: 5%;
 }
 
 h1{
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: grey;
    width: 600px;
    font-size: 20px; 
    margin-left: 30%;
 }