<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    <h1>Hi, welcome.</h1>
    <form action="/ninjas", method="post|get">
        First name:<br>
        <input type="text" name="firstname" value="first name"><br>
        Last name:<br>
        <input type="text" name="lastname" value="last name"><br><br>
        <input type="submit" value="Submit">
      </form>

</body>
</html>