<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Ninjas</h1><br>
    <p>A ninja (忍者) or shinobi (忍び, "to sneak") was a covert agent or mercenary 
        in feudal Japan. <br> The functions of the ninja included espionage, sabotage, infiltration, 
        assassination and guerrilla warfare.
    </p>
    <form action="/dojo">
        <input type="submit" value="To the dojo!!" />
    </form>

    Welcome {{ firstname }}; <br>
    Your email address is: <?php echo $_GET["lastname"]; ?>
    
</body>
</html>